* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed to specify header element and reference 'main' as the class */
header.main {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* updated reference to header element and main class */
header.main h1 {
    display: inline-block;
    font-size: 48px;
}

/* updated reference to header element and main class, specified span for the seo class */
header.main h1 span.seo {
    color: #d9dcd6;
}

/* updated reference to header element and main class, changed div to nav element */
header.main nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* updated reference to header element, main class, and nav element */
header.main nav ul {
    list-style-type: none;
}

/* updated reference to header element, main class, and nav element */
header.main nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* No changes here because these are the only links on the page; if there were other links outside the 'nav' element that needed different styling, I would have added specifications for the nav element to separate them */
a {
    color: #ffffff;
    text-decoration: none;
}

/* No changes necessary */
p {
    font-size: 16px;
}

/* Added specification for 'img' element for clarity in which element this class is associated with */
img.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* No changes needed because this is only used once; if other elements used it, I may have considered moving this class after 'section.content' and adding corresponding specificity if necessary */
.float-left {
    float: left;
    margin-right: 25px;
}

/* No changes needed because this is only used once; if other elements used it, I may have considered moving this class after 'section.content' and adding corresponding specificity if necessary */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Added specification to 'section' element */
section.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Moved class for styling 'section.content' class components to be in line, changed components to reference a single component class */
section.content div.contentComponent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Moved class for styling 'section.img' class components to be in line, changed components to reference a single component element */
section.content div img {
    max-height: 200px;
}

/* Moved class for styling 'section.h2' class components to be in line, changed components to reference a single component element */
section.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* added specification for 'aside' element */
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* added specification for 'aside' element, changed class to simplified 'benefit' and added specification for 'div' element with 'benefit' class; eliminated redundant duplicate classes  */
aside.benefits div.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Added specification for 'aside' parent, added specification for 'div' element and simplified 'benefit' class; eliminated redundant duplicate classes */
aside.benefits div.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Added specification for 'aside' parent, added specification for 'div' element and simplified 'benefit' class; eliminated redundant duplicate classes */
aside.benefits div.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Added specification for 'footer' element, changed class name to 'content' to add specificity for the footer contents */
footer.content {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Added specification for 'footer' element with 'content' class */
footer.content h2 {
    font-size: 20px;
}
